<div class="dashboard-container" *ngIf="!loading">

  <div class="header-section">
    <h2>Dashboard NPS</h2>
    <button (click)="logout()" class="logout-button">Cerrar Sesión</button>
  </div>

  <ng-container *ngIf="userRole === 'Votante'">
     <div *ngIf="!hasResponded; else alreadyResponded">
       <app-survey-form (surveySubmitted)="handleSurveySubmit($event)"></app-survey-form>
     </div>

    <ng-template #alreadyResponded>
      <div class="thank-you-message">
        <h3>✅ Ya has completado la encuesta</h3>
        <p>Gracias por compartir tu opinión.</p>
      </div>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="userRole === 'Admin'">
    <div class="stats-overview">
      <div class="stat-card nps-total-score">
        <h3>Net Promoter Score (Global)</h3>
        <p class="stat-value">65</p>
      </div>

      <!-- Tarjetas de desglose de clientes -->
      <div class="stat-card promoters">
        <h3>Promotores</h3>
        <p class="stat-value">45%</p>
      </div>
      <div class="stat-card neutrals">
        <h3>Neutros</h3>
        <p class="stat-value">30%</p>
      </div>
      <div class="stat-card detractors">
        <h3>Detractores</h3>
        <p class="stat-value">25%</p>
      </div>
    </div>
  </ng-container>

  <div class="content-section">
      <h3>Encuestas Recientes</h3>
      <p>Aún no hay datos de encuestas disponibles.</p>
  </div>
</div>
