/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #0056b3; /* Azul para botones */
    --background-color: #f4f4f9;
    --card-bg: #ffffff;
    --text-color: #333;
    --error-color: #d9534f;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilos básicos para formularios y botones */
input[type="email"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no añada ancho extra */
}

input {
    border: 1px solid #ccc;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004494;
}

.error-message {
    color: var(--error-color);
    background-color: #f2dede;
    border: 1px solid var(--error-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}
